body{
    font-family:  arial, sans-serif;
      background-image: url(images/background.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
     background-attachment: fixed; 
}

h1{
   color: #dadde1;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}
ul{
   padding: 0;
   margin: 0; 
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
     color: #dadde1;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
li::first-letter{
    text-transform: capitalize;
}
.Weather-App-wrapper{
    max-width: 600px;
    margin: 30px auto;
}
.Weather-App .units{
    color: #dadde1;
    font-size: 16px;
    font-weight: 100;;
}
.Weather-App{
    max-width: 600px;
    margin: 30px;
    margin:  auto;
    padding: 20px;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}
.overview{
  margin-bottom: 20px;  
}
.weather-temperature img{
    margin-right: 6px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong{
  
    color: #fff;
    font-size: 94px;
    line-height: 1;
    font-weight: 800;
    position: absolute;
    top: -20px;
    left: 160px;
    width: 200px;
     /* censius position*/
}

.weather-temperature .units{
    position: absolute;
    font-size: 30px;
    top: -28px;
    left: 260px;
    width: 200px;
     /* censius position*/
}



.weather-temperature .active {
     color: #fff;
     cursor: default;
}
.weather-temperature .active:hover{
    text-decoration: none;
     cursor: default;
}
.weather-forecast{
   margin-top: 20px;
   text-align: center;
   color: #fff;
}
.weather-forecast-temperature-min{
     opacity: 0.5;
}
.weather-forecast-temperature{
    font-size: 13px;
     color: #fff;
}

